form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    height: 60%;
    max-height: 650px;
}

form mat-form-field {
    margin: 10px 25px;
    width: 95%;
}

mat-label {
    font-size: 18px;
}

button {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    margin: 10px 25px;
    width: 60%;
}