form {
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

form mat-form-field {
    width: 40%;
    margin: 10px 25px;
}

mat-label {
    font-size: 18px;
}

button {
    width: 30%;
    height: 8%;
    border-radius: 10px;
    margin: 10px 25px;
    font-size: 18px;
    font-weight: 400;
}