.mat-table-container {
    margin: 60px auto;
    width: 95%;
}

.mat-mdc-table {
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

th.mat-mdc-header-cell,
[mat-cell] {
    color: #282828;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    text-align: left;
}

[mat-cell] {
    border-bottom: 1px solid #f8f8f8;
}

th.mat-mdc-header-cell {
    background-color: #bdbdbd;
    border: none;
    font-weight: bold;
}

tr.mat-mdc-row {
    background-color: #f4f4f4;
}

tr.mat-mdc-row:hover {
    background-color: #e0e0e0;
}